.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
}

.featureSvg {
  display: block;
  height: 200px;
  width: 200px;
}

.featureSvgMeow {
  height: 220px; /* make it BIG a big meow.. */
  width: 220px;
  transform: translateX(8px);
}

.featureSvgReadingCat {
  height: 180px;
  width: 180px;
  transform: translateX(-10px);
}
